!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "#{ENV['GOOGLE_CLIENT_ID']}.apps.googleusercontent.com", :name => "google-signin-client_id"}/
    %title Handsome Scheduler
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = include_gon(:init => true)
    = javascript_pack_tag 'application'
    = csrf_meta_tags
  %body
    - if landing_page?
      = yield
    - else
      %nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
        = render 'partials/navbar'
      - if @current_user
        .columns
          .column.is-2#aside
            = render 'partials/aside_menu'
          .column.is-10
            = yield
